






<div class="position-relative">
<div class="position-absolute top-20 start-50 translate-middle-x">

<%= link_to t('profile.myReviews'), myReviews_path, class:"w-100 btn btn-lg btn-primary" %>
<p></p>
<h2><%= t('profile.edit') %></h2>






<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating">    
        <%= f.email_field :email, autocomplete: "email", class:"form-control", id:"floatingInput", placeholder:"name@example.com" %>
        <%= f.label :email, for: "floatingInput" %>
      </div>
<p></p>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"floatingPassword", placeholder:"Password" %>
        <%= f.label :password,for: "floatingPassword" %>
      </div>
      <p></p>
      <div class="form-floating">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"floatingPassword1", placeholder:"Password" %>
        <%= f.label :password_confirmation, for: "floatingPassword1" %>
      </div>


  <p></p>
Current password (we need your current password to confirm your changes)<br />
    
  <div class="form-floating ">
    
    

    <%= f.password_field :current_password, autocomplete: "new-password", class:"form-control", id:"floatingPassword2", placeholder:"Password" %>
    <%= f.label :current_password, for: "floatingPassword2" %>

  </div>
<p></p>
  <div class="actions">
    <%= f.submit t('profile.update'), class:"w-100 btn btn-lg btn-warning" %>
  </div>
<% end %>
<p></p>
<%= button_to t('profile.deleteAcc'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"w-100 btn btn-lg btn-danger" %>

</div>
</div>