<h1><%=t('review.search')%></h1>
<div class="row g-3 align-items-center">
 <div class="col-auto">
  <%= form_for search_path, method: :get do |f| %>
  
   <div class="col-auto">
    <%= text_field_tag :q, params[:q], placeholder: t('navbar.typesearch'), class: "form" %> <%= submit_tag t('navbar.search'), name: nil, class:"btn btn-primary" %>
<p></p>
    
  <%= link_to t('review.goBack'), :back, class:"btn btn-primary" %>
   </div>
  
  
<% end %>
</div>
</div>


<p></p>

  <% @reviews.each do |review| %>
    
<div class="p-2 bg-light border rounded-3">
<h5><%= t('homepage.reviewOn')+ ' "'+ review.name+ '"' %> 
<p></p>
<%= t('review.author')%>
<%= link_to getAuthorNick(review)+ ' ('+ t('profile.likesCount') + countUserLikes(getAuthor(review)) + ')',getAuthor(review) %> 
<p></p>

<%= link_to t('homepage.readMore'), review_path(review._id) %>
</div>
<%end%>

