<h1><%=t('review.search')%></h1>
<div class="row g-3 align-items-center">
 <div class="col-auto">
  <%= form_for search_path, method: :get do |f| %>
  
   <div class="col-auto">
    <%= text_field_tag :q, params[:q], placeholder: t('navbar.typesearch'), class: "form" %> <%= submit_tag t('navbar.search'), name: nil, class:"btn btn-primary" %>
<p></p>
<% end %>
</div>
</div>


<p></p>
<%@reviews.each do |review|%>
<div class="card">
  <div class="card-header">
    <%= t('review.author')%>
<%= link_to review.user.nick + ' ('+ t('profile.likesCount') + review.user.countUserLikes + ')', review.user %> 
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= t('homepage.reviewOn')+ ' "'+ review.name+'"'%> 
    <%= raw review.tags.map(&:name).map{|t| link_to t, tag_path(t), class: "btn btn-primary btn-sm"}.join(' ')%>
    </h5>
    <p class="card-text">
    
    <% if review.content.to_plain_text.length < 1000 %> 
    <%= review.content %>
    <%else%>
    <%= review.content.to_plain_text[0..1000] + '...' %>
    <%end%>
    </p>
    <%= link_to t('homepage.readMore'), review_path(review._id), class:"btn btn-primary" %>
    <p></p>
    <%= t('homepage.avg') %>: <%= review.user_rating.average('score').to_d %>
  </div>
  <div class="card-footer text-muted">
    <%= t('profile.created_at') + ' '+ review.created_at.to_s%> 
    <% if review.created_at.to_s != review.updated_at.to_s %>
   | <%= t('profile.edited_at') + ' '+ review.updated_at.to_s%>
    <% end %>
    
  </div>
</div>
<p></p>
<%end%>



  <% @reviews.each do |review| %>
    
<div class="p-2 bg-light border rounded-3">
<h5><%= t('homepage.reviewOn')+ ' "'+ review.name+ '"' %> 
<p></p>
<%= t('review.author')%>
<%= link_to review.user.nick + ' ('+ t('profile.likesCount') + review.user.countUserLikes) + ')', review.user %> 
<p></p>

<%= link_to t('homepage.readMore'), review_path(review._id) %>
</div>
<%end%>

