<% if user_signed_in? && current_user.email == @user.email %>
<h3><%=t('profile.yourProfile')%></h3>
<%= link_to t('profile.newReview'), new_review_path, class:"w-100 btn btn-lg btn-success"%><p></p>
<%end%>
<% if user_signed_in? && current_user.admin %>
<%= link_to 'Admin panel', users_path, class:"w-100 btn btn-lg btn-danger"%><p></p>
<%end%>

<h2><b><%= t('profile.whoisReviews') +' '+ @showUserInfo %></b></h2>

<% if params[:sort] || params[:category]%>
<%= link_to t("profile.resetFiltres"), :category=>nil, :sort=>nil %>
<%end%>
<table class="table">
  <thead>
  
    <tr>
    
      <th scope="col"><h5> #  </h5></th>
      <th scope="col"><h5>
      
      
      
      <% @categories.each do |category|%>
      <option><%= link_to category.name, :category=>category.id %></option>
      <% end %>
      
      
      </h5></th>
      <th scope="col"><h5><%= t('profile.name') %></h5></th>
      <th scope="col"><h5><%=link_to t('profile.created_at'), :sort=>'created_at',  :category=>params[:category]%></h5></th>
      <th scope="col"><h5><%=link_to t('profile.edited_at'), :sort=>'updated_at', :category=>params[:category] %></h5></th>
      <th scope="col"><h5><%=t('profile.options')%></h5></th>
    
    </tr>
  </thead>
  <tbody>
  <% if params[:sort].present? && params[:category].present? %>
  <% @reviews = @reviews.where(category_id: params[:category]).sort_by{|e| e[params[:sort]]} %>
  <% elsif params[:category].present? && !params[:sort].present? %>
  <% @reviews = @reviews.where(category_id: params[:category])%>
  <% elsif !params[:category].present? && params[:sort].present? %>
  <% @reviews = @reviews.sort_by{|e| e[params[:sort]]} %>
  <% end %>
  <% @reviews.reverse.each_with_index do |review, index| %>
    <tr>
      <th scope="row"><h5><%= index+1 %></h5></th>
      <td><h5><%= review.category.name%></h5></td>
      <td><h5><%= review.name%></h5></td>
      <td><h5><%= review.created_at%></h5></td>
      <td><h5><%= review.updated_at%></h5></td>
      <td><%= link_to t('profile.show'), review, class:"btn btn-success"%> 
      <% if user_signed_in? && (current_user.admin || current_user.email == review.authorEmail) %>
      <%= link_to t('profile.edit'), edit_review_path(review), class:"btn btn-warning" %>
      <%= link_to t('profile.destroy'), review, :method => :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      </td>
      <% end %>
    </tr>
    <% end %>
    
  </tbody>
</table>