<% if current_user.email == @user.email %>
<h3>Your profile</h3>
<%= link_to t('profile.newReview'), new_review_path, class:"w-100 btn btn-lg btn-success"%><p></p>
<%end%>
<% if current_user.admin %>
<%= link_to 'Admin panel', users_path, class:"w-100 btn btn-lg btn-danger"%><p></p>
<%end%>

<h2><b><%= @user.email[0..@user.email.index('@')-1]%></b>'s reviews</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><h5>#</h5></th>
      <th scope="col"><h5><%=link_to 'Category', :sort=>'group' %></h5></th>
      <th scope="col"><h5><%=link_to 'Name', :sort=>'name' %></h5></th>
      <th scope="col"><h5><%=link_to 'Created at', :sort=>'created_at' %></h5></th>
      <th scope="col"><h5><%=link_to 'Edited at', :sort=>'updated_at' %></h5></th>
      <th scope="col"><h5>Options</h5></th>
    </tr>
  </thead>
  <tbody>
  
  <% @reviews.each_with_index do |review, index| %>
    <tr>
      <th scope="row"><h5><%= index+1 %></h5></th>
      <td><h5><%= review.group%></h5></td>
      <td><h5><%= review.name%></h5></td>
      <td><h5><%= review.created_at%></h5></td>
      <td><h5><%= review.updated_at%></h5></td>
      <td><%= link_to 'Show', review, class:"btn btn-lg btn-success"%> 
      <% if current_user.admin || current_user.email == review.authorEmail %>
      <%= link_to 'Edit', edit_review_path(review), class:"btn btn-lg btn-warning" %>
      <%= link_to 'Destroy', review, :method => :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-lg btn-danger" %>
      </td>
      <% end %>
    </tr>
    <% end %>
    
  </tbody>
</table>