
<%@reviews.reverse.each do |review|%>
<div class="p-2 bg-light border rounded-3">
<h5><%= t('homepage.reviewOn')+ ' "'+ review.name + '" (' + t('profile.likesCount') + review.likes.count.to_s + ')'%> 
<p></p>
<%= t('review.author')%>
<%= link_to getAuthorNick(review)+ ' ('+ t('profile.likesCount') + countUserLikes(getAuthor(review)) + ')',getAuthor(review) %> 
<p></p>
Average User's rating: <%= review.user_rating.average('score').to_d %>
<p></p>
<%= link_to t('homepage.readMore'), review %></h5>
</div>
<%end%>