
<p>
  <strong>Group:</strong>
  <%= @review.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @review.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Created by:</strong>
  <%= link_to @showAuthorInfo, @author %>
</p>



<% if user_signed_in? %>
<%= link_to 'Edit', edit_review_path(@review) %> 

<% if @like.exists? %>
  <%= button_to 'unLike', review_like_path(@review), method: :delete %>
<% else %>
  <%= button_to 'Like', review_likes_path(@review), method: :post %>
<%end%>

<p><%= @review.likes.count %> <%= (@review.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<%end%>

<%= link_to 'Back', :back %>

