<div class="h-100 p-2 bg-primary border rounded-3">
  <h3><p class="text-white"><%= t('review.author')%> <%= link_to @showAuthorInfo, @author, class:"link-light" %></p> </h3>
  <div class="h-100 p-3 bg-light border rounded-3">
    <p><strong><%= t('review.group')%></strong><%= @review.category.name %></p>
    <p><strong><%= t('review.name')%></strong><%= @review.name %></p>
    <strong><%= t('review.content')%></strong>
    <p><div class="h-100 p-3 bg-light border rounded-3">
    <%= @review.content %>
    </div></p>
    
    <p><strong><%= t('review.authorRating')%></strong><%= @review.rating %></p>

    <% if user_signed_in? %>
    <% if current_user.admin || current_user.email == @review.authorEmail %>

    <%= link_to t('profile.edit'), edit_review_path(@review), class:"btn btn-warning" %>
    <%= link_to t('profile.destroy'), @review, :method => :delete, data: { confirm: t('review.confirm') }, class:"btn btn-danger" %> 
    <p></p>
    <% end %>
    <% if @like.exists? %>
    <%= button_to t('review.unlike'), review_like_path(@review), method: :delete, class: "btn btn-info" %>
    <% else %>
    <%= button_to t('review.like'), review_likes_path(@review), method: :post, class: "btn btn-info" %>
    <%end%>
    
    <%end%>
    <strong><%= t('profile.likesCount')+ @review.likes.count.to_s%></strong>
    
  </div>

</div>
<p></p>
<%= link_to t('review.goBack'), :back, class:"btn btn-primary" %>




