<!DOCTYPE html>
<html>
  <head>
    <title>HTWT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <label class="navbar-brand" ><b>How to waste time</b></label>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to t('navbar.home'), root_path, {class: "nav-link active", 'aria-current':"page"} %>
          
        </li>
        
        <li class="nav-item ">
          <%= link_to t('navbar.all'), reviews_path, {class: "nav-link active", 'aria-current':"page"} %></a>
            
            
            
          
        </li>         
      </ul>
      
      <div class="btn-group me-2">
        <button type="button" class="btn btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <%= t('navbar.language') %>
        </button>
        <ul class="dropdown-menu">
                       
        <li> <%= link_to t('navbar.enus'), {locale: :en}, class: "dropdown-item" %></li>
        <li> <%= link_to t('navbar.ruru'), {locale: :ru}, class: "dropdown-item" %></li>
        
        </ul>
      </div>
      <br>
      
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1"><%= t('navbar.ltheme') %></label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2"><%= t('navbar.dtheme') %></label>

      </div>
      
      
        
          <% if user_signed_in? %>
      
      
          <%= link_to t('navbar.myProfile'), user_path(current_user), {class: "nav-link active", 'aria-current':"page"} %>
          <%= link_to t('navbar.logOut'), destroy_user_session_path, {:method => :delete, class: "nav-link active", 'aria-current':"page"} %>
          
      
          
          <% else %>
        
          <%= link_to t('navbar.logIn'), new_user_session_path, {class: "nav-link active", 'aria-current':"page"} %>
          <%= t('navbar.or') %>
          <%= link_to t('navbar.signUp'), new_user_registration_path, {class: "nav-link active", 'aria-current':"page"} %>
        
          <% end %>
              
      
        
        
        
      </span>
      <form class="d-flex">
      
        <%= link_to t('navbar.search'),search_path, class: "btn btn-outline-success"%>
        
      </form>
    </div>
  </div>
</nav>
<div class='container'>

<% if alert %>
<br>
<p class="alert alert-danger" role="alert"><%= alert %></p>
<% end %>
<% if notice %>
<br>
<p class="alert alert-primary" role="alert"><%= notice %></p>
<% end %>
<br>

    <%= yield %>
    </div>
  </body>
</html>
